h1 {
    background-color: rgb(195, 195, 195);
    text-align: center;
    border-radius: 12px;
    border: 5px outset rgb(158, 157, 157);
}

body {
    background-color: rgb(185, 186, 187);
}

#gameScreen {
    border: 6px solid rgb(58, 58, 58);
    border-radius: 12px;
    background-color: white;
    margin: 5px;
}
#itemScreen {
    border: 6px solid rgb(58, 58, 58);
    border-radius: 12px;
    background-color: rgb(220, 220, 220);

}